@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --color-grey-900: rgba(72,85,106);
    --color-grey-500: rgba(110,128,152);
    --color-grey-400: rgba(157,174,194);
    --color-grey-200: rgba(236,242,248);
    --color-white:#FFF;

    --text-preset-1-bold: 700 20px/1.5 "Manrope", "sans-serif";
    --text-preset-1-bold-letter-spacing: 0.25px;
    --text-preset-2-bold: 700 13px/1.4 "Manrope", "sans-serif";
    --text-preset-2-bold-letter-spacing: 0.12%;
    --text-preset-2-medium: 500 13px/1.4 "Manrope", "sans-serif";
    --text-preset-2-medium-letter-spacing: 0.12%;
    --text-preset-3: 400 13px/1.4 "Manrope", "sans-serif";
    --text-preset-3-letter-spacing: 25%;

    --spacing-0: 0rem;
    --spacing-200: 1rem;     /* 16px */
    --spacing-300: 1.5rem;   /* 24px */
    --spacing-400: 2rem;     /* 32px */
    --spacing-500: 2.5rem;   /* 40px */
    --spacing-600: 3rem;     /* 48px */
    --spacing-700: 3.5rem;   /* 56px */
    --spacing-800: 4rem;     /* 64px */
    --spacing-1300: 6.5rem;  /* 104px */
    --spacing-2000: 10rem;   /* 160px */
}

* {
    box-sizing: border-box;
}

:focus-visible {
    outline: 2px solid var(--color-grey-900);
    outline-offset: 2px;
}

.popover a:focus {
    outline: 2px solid var(--color-white);
    outline-offset: 2px;
    /* border-radius: 4px; */
}

body {
    background-color: var(--color-grey-200);
}

.main-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card-wrapper {
    /*Make the wrapper control positioning - .popover (absolute) will be positioned relative to .card-wrapper*/
    position: relative;
}

.container {
    display: flex;
    max-width: 730px;
    width: 100%;
    max-height: 280px;
    height: 100%;

    border-radius: 10px;
    overflow: hidden;

    position: relative;
}

.right {
    flex: 0.8;
}

.right img{
    max-width: 285px;
    width: 100%;
    max-height: 280px;
    height: 100%;
    object-fit: cover;
    /* border-radius: 10px 0 0 10px; */
}

.left {
    flex: 1.2;
    background: var(--color-white);
    height: 280px;
    padding: 30px var(--spacing-500);

    /* border-radius: 0 10px 10px 0; */
}

.content {
    max-width: 365px;
    width: 100%;
}

.left h2 {
    font: var(--text-preset-1-bold);
    letter-spacing: var(--text-preset-1-bold-letter-spacing);
    color: var(--color-grey-900);
    margin: 0;

    line-height: 1.3;
}

.left p {
    font: var(--text-preset-2-medium);
    letter-spacing: var(--text-preset-2-medium-letter-spacing);
    color: var(--color-grey-500);
    margin: var(--spacing-300) 0;
}

.button-container {
    max-width: 365px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.person-info {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
}

.person-info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.person-text {
    display: flex;
    flex-direction: column;
}

.person-text .name {
    font: var(--text-preset-2-bold);
    letter-spacing: var(--text-preset-2-bold-letter-spacing);
    color: var(--color-grey-900);
    margin: 0;
}

.person-text .date {
    font: var(--text-preset-2-medium);
    letter-spacing: var(--text-preset-2-medium-letter-spacing);
    color: var(--color-grey-400);
    margin: 0;
}

.share {
    width: 32px;
    height: 32px;
    background-color: var(--color-grey-200);
    border-radius: 50%;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

}

.share:hover {
    background-color: var(--color-grey-400);
}

.popover {
    max-width: 248px;
    width: 100%;
    max-height: 57px;
    height: 100%;

    background-color: var(--color-grey-900);

    padding: 18px 38px;
    border-radius: 10px;

    bottom: 80px;
    right: -170px;
    transform: translateX(-50%);

    position: absolute;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.popover::after {
  content: "";
  position: absolute;

  bottom: -15px; /* places it under the box */
  left: 50%;
  transform: translateX(-50%);

  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--color-grey-900);
}

.active {
     opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.popover-content {
    display: flex;
    justify-content: space-between;
}

.popover-content p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    font: var(--text-preset-3);
    color: var(--color-white);
    letter-spacing: var(--text-preset-3-letter-spacing);
    cursor:default;

}

.popover-social-media img{
    margin: 0 4px;
}

.share-inside {
    display: none;
}

@media (max-width: 630px) {
    .container {
        display: flex;
        flex-direction: column;

        max-width: 327px;
        width: 100%;
        max-height: 538px;
        height: 100%;
    }

    .right {
        height: 200px;
    }

    .right img {
        max-width: 327px;
        width: 100%;
        max-height: 200px;
        height: 100%;
    }

    .left {
        padding: 30px 30px 18px;
    }

    .popover {
        max-width: 327px;
        width: 100%;
        max-height: 76px;
        height: 100%;

        padding: 16px 32px;
        display: flex;
        align-items: center;

        bottom: 0;
        left: 165px;

        border-radius: 0 0 10px 10px;
    }

    .popover::after {
        display: none;
    }

    .popover-content {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .popover-social-media {
        display: flex;
        gap: 8px;
    }

    .share-inside {
        display: flex;
        margin-left: auto;
        position: relative;
        right: 1px
    }
}
